.nav {
  width: 80%;
  padding-top: 1rem;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  z-index: 1000;
  position: relative;
}


.tab {
  font-family: 'Quicksand';
  font-size: xx-large;
  color: white;
  text-decoration: none;
}

.tab:hover,
.tab:focus {
  text-decoration: underline;
  text-underline-offset: 0.4em;
}